.contact-form-wrapper {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
}
.or {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  color: #3b368c;
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  color: rgb(124, 129, 138);
}
