<section
  class="flirting-section about-section"
  style="margin-top: 1cm !important"
>
  <div class="d-flex justify-content-center">
    <div class="col-lg-8 sub-title text-center">
      <b class="hero-mobile-greeting color"
        >Bienvenue sur SHOKII, où les rencontres prennent vie !
      </b>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top: 2cm">
      <div class="col-lg-6 align-self-center">
        <div class="img">
          <img alt="" />
          <img src="assets/images/about/about-page-left.html.png" alt="" />
          <!-- <img
            src="../.././../assets/images/Getty_1166773587-scaled-removebg-preview.png"
            alt=""
          /> -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content">
          <div class="section-header font-p">
            <!-- <h6 class="sub-title h2"><b>A propos de nous</b></h6> -->
            <p>
              L'ultime destination pour les adultes cherchant à établir des
              connexions intimes. Vous voulez une relation décontractée,
              éphémère ou durable ? Vous êtes à la bonne destination. Explorez
              SHOKII et découvrez une communauté diversifiée de personnes
              intéressantes, prêtes à partager des moments spéciaux.
            </p>
            <br />
            Qu’est-ce qui distingue SHOKII ?
            <br />
            <br />
            <p class="mb-0">
              Une approche axée sur la confidentialité et de la sécurité où avez
              le contrôle total de votre profil et de ce que vous choisissez de
              partager.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Start-Flirting-Section========== -->

<!-- ========== w-c-u Section Starts ========== -->
<!-- <section class="w-c-u-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content">
          <div class="section-header">
            <h6 class="sub-title">How We’re different</h6>
            <h2 class="title extra-padding">Why Choose Us?</h2>
            <p class="text">
              There are lots of online dating sites available which makes it
              difficult to choose the one which can give you a serious
              partner....
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-w-c-u-box">
          <div class="icon">
            <img src="assets/images/e-c-u/icon1.png" alt="" />
          </div>
          <h4 class="title">Dating</h4>
          <p>
            Dating - Where two people who are attracted to each other spend time
            together.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-w-c-u-box">
          <div class="icon">
            <img src="assets/images/e-c-u/icon2.png" alt="" />
          </div>
          <h4 class="title">Great Advices</h4>
          <p>
            Dating - Where two people who are attracted to each other spend time
            together.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-w-c-u-box">
          <div class="icon">
            <img src="assets/images/e-c-u/icon3.png" alt="" />
          </div>
          <h4 class="title">24/7Support</h4>
          <p>
            Dating - Where two people who are attracted to each other spend time
            together.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-w-c-u-box">
          <div class="icon">
            <img src="assets/images/e-c-u/icon4.png" alt="" />
          </div>
          <h4 class="title">Relationship</h4>
          <p>
            Dating - Where two people who are attracted to each other spend time
            together.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- ==========  w-c-u Section Starts ========== -->

<!-- ==========Features-Section========== -->
<section class="feature-section" style="background-color: #bfdbfe">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content">
          <div class="section-header">
            <h6 class="sub-title extra-padding">Une liste exhaustive</h6>
            <h2 class="title extra-padding">D'Incroyable Fonctionalités</h2>
            <p class="text">
              To find meaningful connections, dates, and life partners.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content-area">
    <div class="left-image zoom-hover">
      <div class="offer">
        <div class="offer-inner-content" (click)="goRegister()">
          <span class="fs">TROUVER LE </span>
          <h5 class="my-3" style="color: aquamarine">PARTENAIRE IDEAL</h5>
          <span class="ss text-uppercase">Dès maintenant !</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-5">
          <div class="feature-lists">
            <div class="single-feature-list">
              <div class="icon">
                <img src="assets/images/feature/i1.png" alt="" />
              </div>
              <div class="content">
                <h4 class="title">Une Prise en main facile !</h4>
                <p>
                  Notre site offre une expérience conviviale et intuitive,
                  permettant aux utilisateurs de se familiariser rapidement. Que
                  vous soyez un novice ou un expert, notre interface simple vous
                  guide à travers chaque étape, rendant la navigation et
                  l'utilisation de nos fonctionnalités un jeu d'enfant.
                </p>
              </div>
            </div>
            <div class="single-feature-list">
              <div class="icon">
                <img src="assets/images/feature/i2.png" alt="" />
              </div>
              <div class="content">
                <h4 class="title">Support disponible 24/7 !</h4>
                <p>
                  Notre équipe de support est disponible <b>24</b> heures sur
                  <b>24</b>, <b>7</b> jours sur <b>7</b> pour vous aider à
                  établir une connexion parfaite.
                </p>
              </div>
            </div>
            <div class="single-feature-list">
              <div class="icon">
                <img src="assets/images/feature/i3.png" alt="" />
              </div>
              <div class="content">
                <h4 class="title">D'Incroyable fonctionnalité</h4>
                <p>
                  Découvrez notre fonctionnalité incroyable qui révolutionne
                  votre expérience en ligne. Profitez de performances
                  exceptionnelles, d'une simplicité d'utilisation inégalée et
                  bien plus encore.
                </p>
              </div>
            </div>
            <div class="single-feature-list">
              <div class="icon">
                <img src="assets/images/feature/i4.png" alt="" />
              </div>
              <div class="content">
                <h4 class="title">
                  Une grande communauté d'utilisateurs diversifiés !
                </h4>
                <p>
                  Explorez un monde de rencontres avec notre communauté
                  diversifiée. Rencontrez des personnes fascinantes, partagez
                  des moments spéciaux et découvrez des opportunités de
                  connexion uniques.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Features-Section========== -->

<!-- ==========Join-now-Section========== -->
<section class="join-now-section">
  <img class="shape1" src="assets/images/join/heartshape.png" alt="" />
  <img class="shape2" src="assets/images/join/img.png" alt="" />
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <div class="section-header white-color">
            <h2 style="margin-bottom: 3cm" class="title">
              Meilleur plateforme pour vous trouver un partenaire à court sûre.
            </h2>
          </div>

          <a routerLink="/signup" class="custom-button"
            >Rejoignez SHOKII dès aujourd'hui!</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Join-now-Section========== -->

<!-- ==========Success-Stories-Section========== -->
<!-- <section class="sucess-stories-section">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12">
        <div class="content">
          <div class="section-header">
            <h6 class="sub-title"><u>Mots clés</u></h6>
            #shokii;#site_de_recontre_benin;#meilleur_plateformeforme_de_rencontre_benin;#meilleur_site_de_rencontre_cotonou;
          </div>
        </div>
      </div>
    </div>
    <div class="row"></div>
  </div>
</section> -->
<!-- <section class="sucess-stories-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content">
          <div class="section-header">
            <h6 class="sub-title">Love in faith</h6>
            <h2 class="title">Success Stories</h2>
            <p class="text">
              Aliquam a neque tortor. Donec iaculis auctor turpis. Eporttitor
              mattis ullamcorper urna. Cras quis elementum
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-story-box">
          <div class="img">
            <img src="assets/images/sucess/img1.jpg" alt="" />
          </div>
          <div class="content">
            <div class="author">
              <img src="assets/images/sucess/p1.png" alt="" />
              <span></span>
            </div>
            <h4 class="title">Love horoscope for Cancer There will be...</h4>
            <p class="date">December 10, 2021</p>
          </div>
          <div class="box-footer">
            <div class="left">
              <ul class="box-social-links">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="right">
              <a href="#"> Read More<i class="fas fa-arrow-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-story-box">
          <div class="img">
            <img src="assets/images/sucess/img2.png" alt="" />
          </div>
          <div class="content">
            <div class="author">
              <img src="assets/images/sucess/p2.png" alt="" />
              <span></span>
            </div>
            <h4 class="title">
              ‘love at first sight’ is all about initial attraction...
            </h4>
            <p class="date">December 11, 2021</p>
          </div>
          <div class="box-footer">
            <div class="left">
              <ul class="box-social-links">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="right">
              <a href="#"> Read More<i class="fas fa-arrow-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-story-box">
          <div class="img">
            <img src="assets/images/sucess/img3.png" alt="" />
          </div>
          <div class="content">
            <div class="author">
              <img src="assets/images/sucess/p3.png" alt="" />
              <span></span>
            </div>
            <h4 class="title">What women actually want to feel on their...</h4>
            <p class="date">December 14, 2021</p>
          </div>
          <div class="box-footer">
            <div class="left">
              <ul class="box-social-links">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="right">
              <a href="#"> Read More<i class="fas fa-arrow-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- ==========Success-Stories-Section======== -->
