<div class="container" style="">
  <h1 style="margin-top: 4cm" class="d-flex justify-content-center">
    <b class="hero-mobile-greeting color text-uppercase">
      Politique de confidentialité
    </b>
  </h1>
  <div class="row" style="margin-top: 2cm">
    <div
      class="col-lg-12 align-self-center font-p mb-5"
      style="text-align: justify"
    >
      <ol class="mx-2">
        <p>
          <li
            class="text-danger"
            style="font-size: larger; letter-spacing: 6px"
          >
            <strong class="text-uppercase">Données personnelles :</strong>
          </li>
          <br />
          <b>SHOKII</b>&nbsp;collecte des données personnelles lors de
          l'inscription de l'utilisateur ou lorsque celui-ci fournit
          volontairement ces informations. Chaque utilisateur s'engage à
          communiquer des informations exactes et à les maintenir à jour. Nous
          prenons des mesures rigoureuses pour garantir la protection,
          l'intégrité et la confidentialité des données personnelles que nous
          détenons et traitons.
        </p>

        <p>
          Certains renseignements fournis par les utilisateurs, de leur propre
          initiative, peuvent inclure des détails tels que leurs identités,
          photos, adresses et les orientations sexuelles. En fournissant leur
          orientation sexuelle nécessaire pour utiliser nos services, et en
          acceptant nos conditions générales, les utilisateurs consentent
          expressément et spécifiquement au traitement et à l'utilisation de ces
          données par <b>SHOKII</b>&nbsp;, dans les limites de la durée et des
          objectifs définis.
        </p>

        <p>
          De manière similaire, lorsque les utilisateurs partagent leurs photos,
          ils accordent explicitement et spécifiquement à <b>SHOKII</b>&nbsp;le
          droit d'utiliser ces images dans les limites de la durée et des
          objectifs prédéfinis. <b>SHOKII</b>&nbsp;conserve le droit
          d'enregistrer des données telles que l'URL, l'adresse IP, le type et
          la langue du navigateur, ainsi que la date et l'heure de connexion à
          chaque utilisation de nos services, cela étant conforme à
          l'acceptation explicite de l'utilisateur.
        </p>

        <p>
          Les photos et autres données personnelles fournies par les
          utilisateurs et collectées par <b>SHOKII</b>&nbsp;peuvent être
          utilisées pour permettre la prestation des services demandés, incluant
          la personnalisation de contenus et de publicités. Elles peuvent
          également être utilisées à des fins d'audit, de recherche, de
          statistiques et d'analyse afin d'améliorer nos services.
          L'autorisation donnée par les utilisateurs permet à
          <b>SHOKII</b>&nbsp;de faire appel à des tiers pour le traitement des
          données personnelles et des photos, à condition que ces tiers
          respectent les mesures appropriées de confidentialité et de sécurité.
        </p>

        <p>
          <b>SHOKII</b>&nbsp;utilise des cookies et d'autres technologies pour
          faciliter l'accès aux services, étudier leur utilisation et améliorer
          nos prestations. Ces cookies évitent aux utilisateurs de répéter la
          saisie d'informations à chaque visite sur le site. Cependant, les
          utilisateurs ont le droit de modifier les paramètres de leur
          navigateur pour bloquer l'utilisation des cookies, bien que cela
          puisse perturber certaines fonctionnalités.
        </p>

        <p>
          Les partenaires de <b>SHOKII</b>&nbsp;qui reçoivent certaines
          informations personnelles sont répertoriés ci-dessous :
        </p>

        <ul>
          <li>Statistiques d’audience : Google Analytics (N/A)</li>
          <li>Réseaux sociaux : WhatsApp</li>
          <li>Les cookies publicitaires : Google (N/A)</li>
        </ul>

        <p>
          <b>SHOKII</b>&nbsp;pourra conserver pour une durée maximale de 12 mois
          à compter de la résiliation des services les données à caractère
          personnel relatives aux utilisateurs. En cas d’inactivité pendant plus
          de 3 ans, le profil ne sera plus visible sur le service, et le compte
          sera supprimé 12 mois plus tard.
        </p>

        <p>
          Conformément à la loi "informatique et libertés" n° 78-17 du 6 janvier
          1978, chaque utilisateur dispose d'un droit d'accès aux données
          personnelles le concernant, ainsi qu'un droit de rectification et de
          suppression. Ce droit s'exerce par courrier postal adressé à
          <b>SHOKII</b>&nbsp;, par e-mail à
          <a href="mailto:contact@shokii.com"></a> En outre, chaque utilisateur
          peut à tout moment accéder, rectifier et supprimer tout ou partie de
          ses informations personnelles en allant sur le site : « Paramètres /
          Supprimer mon compte ».
        </p>

        <p>
          <b>SHOKII</b>&nbsp;communiquera des informations nominatives
          concernant un utilisateur en cas de réquisition judiciaire et à toute
          autorité qui effectuerait des vérifications ou enquêtes en relation
          avec des contenus et/ou services illicites accessibles via le réseau
          Internet ou téléphonique ou avec des activités illégales.
        </p>

        <p>
          En tant que membre de <b>SHOKII</b>&nbsp;, l’utilisateur peut recevoir
          des emails à l’adresse email qu’il aura donné à son inscription. Pour
          tous les emails dits d’« alerte » l’informant sur : - Demande de
          contact - De nouveaux messages dans sa messagerie - Flash envoyé par
          les membres du site. L’utilisateur peut se désinscrire en allant sur
          le Site sur la rubrique : « Paramètres ». Pour les emails ponctuels :
          - Newsletter (hebdomadaire ; mensuel ; annuel) L’utilisateur peut être
          supprimé des bases de diffusion depuis un lien de désinscription
          présent sur chaque email envoyé ou bien en contactant
          <b>SHOKII</b>&nbsp;via notre formulaire de contact.
        </p>

        <p>
          <li
            class="text-danger"
            style="font-size: larger; letter-spacing: 6px"
          >
            <strong class="text-uppercase"
              >Charte d'utilisation des cookies</strong
            >
          </li>
        </p>

        <p>
          <strong>Qu’est-ce qu’un cookie ?</strong> Un « cookie » est un fichier
          informatique de petite taille que le navigateur internet télécharge
          sur votre ordinateur. En d’autres termes, il s’agit d’un morceau de
          données stockées sur votre ordinateur. Un fichier cookie nous permet
          d’identifier l’ordinateur dans lequel il est enregistré et ce, pendant
          la durée de validité dudit cookie. Nous utilisons trois types de
          cookies dont les finalités sont décrites ci-après.
        </p>

        <p>
          <li
            class="text-danger"
            style="font-size: larger; letter-spacing: 6px"
          >
            <strong class="text-uppercase"
              >Les cookies de <b>SHOKII</b>&nbsp;.com</strong
            >
          </li>
        </p>

        <p>
          Les cookies strictement nécessaires au fonctionnement du site : Il
          s’agit des cookies nécessaires à la navigation sur
          <b>SHOKII</b>&nbsp;.com (comme les identifiants de session) qui vous
          permettent d’utiliser les principales fonctionnalités du site et de
          sécuriser votre connexion. Ils vous permettent également d’adapter la
          présentation de notre site aux préférences d’affichage de votre
          ordinateur, vous offrant ainsi une navigation fluide et personnalisée.
          Ces cookies nous permettent donc d’améliorer votre expérience
          d’utilisateur.
        </p>

        <p>
          <li
            class="text-danger"
            style="font-size: larger; letter-spacing: 6px"
          >
            <strong class="text-uppercase">Les cookies analytiques</strong>
          </li>
        </p>

        <p>
          Ces cookies nous permettent de recueillir des informations concernant
          la façon dont le site est utilisé par nos membres (par exemple, pour
          identifier les pages que l’Utilisateur ouvre le plus souvent, s’il
          reçoit des messages d’erreur pour certaines pages,…). Ces cookies
          permettent des mesures de performance de notre site, d’établir des
          statistiques, connaitre les volumes de fréquentation et d’utilisation
          des divers éléments de notre site. Les informations ainsi recueillies
          nous permettent d’améliorer le fonctionnement général du site et vous
          fournir un service optimisé.
        </p>

        <p>
          <li
            class="text-danger"
            style="font-size: larger; letter-spacing: 6px"
          >
            <strong class="text-uppercase">Les cookies publicitaires</strong>
          </li>
        </p>

        <p>
          Ces cookies nous permettent de personnaliser le contenu et les
          annonces, d'offrir des fonctionnalités relatives aux médias sociaux et
          d'analyser notre trafic. Nous partageons également des informations
          sur l'utilisation de notre site avec nos partenaires de médias
          sociaux, de publicité et d'analyse.
        </p>

        <p>
          <strong>Comment vous opposer à l’enregistrement des cookies ?</strong>
          Vous pouvez vous opposer à l'enregistrement de cookies en configurant
          votre navigateur de la manière suivante :
        </p>

        <p>
          <strong>Pour Google Chrome :</strong> Choisissez le menu "Paramètres"
          puis cliquez sur "Afficher les paramètres avancés". Cliquez sur le
          bouton "Paramètres de contenu" dans la rubrique "Confidentialité".
          Dans la rubrique "Cookie", sélectionnez les options qui vous
          conviennent.
        </p>

        <p>
          <strong>Pour Microsoft Internet Explorer :</strong> Choisissez le menu
          "Outils" puis "Options Internet". Cliquez sur l'onglet
          "Confidentialité". Sélectionnez le niveau souhaité à l'aide du
          curseur.
        </p>

        <p>
          <strong>Pour Mozilla Firefox :</strong> Choisissez le menu "Outils"
          puis "Options". Cliquez sur l'icône "Vie privée". Repérez le menu
          "cookie" et sélectionnez les options qui vous conviennent.
        </p>

        <p>
          <strong>Pour Opera 6 et au-delà :</strong> Choisissez le menu
          "Fichier" "Préférences" Vie Privée.
        </p>

        <p>
          <strong>Pour Safari :</strong> Choisissez le menu « Edition » «
          Préférences ». Cliquez sur l'option « Données personnelles ». Rubrique
          "Cookies".
        </p>
      </ol>
    </div>
    <div class="my-5 d-flex justify-content-center">
      <a
        routerLink="/"
        style="
          background-image: linear-gradient(166deg, #f44336 0%, #80b1ef 100%);
        "
        class="custom-button"
        >Retour à l'accueil <i class="flaticon-right"></i
      ></a>
    </div>
  </div>
</div>
