<!-- ==========Preloader========== -->

<!-- ========== Login & Registation Section ========== -->
<section class="log-reg bg-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="log-reg-inner">
          <div class="card rounded border-2 align-content-center d-flex">
            <div class="card-body">
              <a (click)="goback()" style="cursor: pointer; color: #3b368c"
                ><i class="fa fa-arrow-left" aria-hidden="true"></i
                >&nbsp;&nbsp;Retour en arrière</a
              >
              <div class="section-header inloginp">
                <h2 class="title">
                  <img
                    src="assets/images/logo/shokii.png"
                    alt="logo"
                    style="width: 100px"
                  />
                </h2>
              </div>
              <div class="main-content inloginp">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <!-- <div class="form-group">
                    <label class="d-flex justify-content-center" for="mail">E-mail de récuperation</label>
                    <div class="input-wrapper  d-flex justify-content-between" [ngClass]="{
                                      'invalid-input': loginForm.get('mail')?.invalid && (loginForm.get('mail')?.dirty || loginForm.get('mail')?.touched),
                                      'valid-input': loginForm.get('mail')?.valid && (loginForm.get('mail')?.dirty || loginForm.get('mail')?.touched)
                                    }">
                      <input type="mail" placeholder="Saisissez votre mail d'inscription" class="my-form-control"
                        formControlName="mail" />

                    </div>
                    <div
                      *ngIf="loginForm.get('mail')?.invalid && (loginForm.get('mail')?.dirty || loginForm.get('mail')?.touched)"
                      style="color: rgb(220, 70, 11) !important; margin-top: 5px !important; font-size: 14px !important;">
                      <div class="d-flex mt-3 mb-4" *ngIf="loginForm.get('mail')?.errors?.['required']">
                        &nbsp;<mat-icon>info</mat-icon> &nbsp;
                        E-mail est requis.
                      </div>
                      <div class="" *ngIf="loginForm.get('mail')?.errors?.['invalid']">
                        * Adresse mail invalide.
                      </div>
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label
                      for="mail"
                      style="display: flex; justify-content: center"
                      >Email d'inscription</label
                    >
                    <div class="input-wrapper d-flex justify-content-between">
                      <input
                        type="mail"
                        class="pass w-100"
                        formControlName="mail"
                        style="
                          border: 1px solid rgba(0, 0, 0, 0.2) !important;
                          height: 57px;
                          font-family: 'Poppins';
                          letter-spacing: 4px;
                          color: #495057;
                        "
                        placeholder="Ex : jonhdoe@gmail.com"
                      />
                    </div>

                    <div
                      *ngIf="
                        loginForm.get('mail')?.invalid &&
                        (loginForm.get('mail')?.dirty ||
                          loginForm.get('mail')?.touched)
                      "
                      style="
                        color: rgb(220, 70, 11) !important;
                        margin-top: 5px !important;
                        font-size: 11px !important;
                      "
                    >
                      <div
                        class="d-flex mt-3 mb-4"
                        *ngIf="loginForm.get('mail')?.errors?.['required']"
                      >
                        &nbsp;<mat-icon>danger</mat-icon> Ce champs est requis.
                      </div>
                    </div>
                  </div>
                  <div class="button-wrapper mb-4">
                    <button
                      type="submit"
                      [ngClass]="{
                        'invalid-button': !loginForm.valid,
                        'custom-button': loginForm.valid
                      }"
                      [disabled]="!loginForm.valid"
                    >
                      Envoyer
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <br /><br /><br /><br /> -->
</section>
<ng-template #verificationModal let-modal>
  <div class="col text-center">
    <div class="row">
      <div
        class="col"
        style="margin-top: 1cm; margin-left: 22px"
        *ngIf="!isVerify"
      >
        <div class="title">Verification</div>
        <hr />
        <div class="" style="align-items: center">
          <h6>
            Saisissez le code de vérification à 6 chiffres que vous avez reçu
            par e-mail :
          </h6>
        </div>
        <hr />
        <form action="" class="mt-5" (ngSubmit)="verifyCode()">
          <div class="d-flex justify-content-center">
            <input
              type="text"
              class="otp"
              id="otp1"
              style="margin-left: 5px !important"
              (input)="digitValidate($event, 1)"
              (paste)="pasteCode($event)"
              (keydown)="handleBackspace($event, 1)"
              maxlength="1"
              [(ngModel)]="code[0]"
            />
            <input
              type="text"
              class="otp"
              id="otp2"
              style="margin-left: 5px !important"
              (input)="digitValidate($event, 2)"
              (paste)="pasteCode($event)"
              (keydown)="handleBackspace($event, 2)"
              maxlength="1"
              [(ngModel)]="code[1]"
            />
            <input
              type="text"
              class="otp"
              id="otp3"
              style="margin-left: 5px !important"
              (input)="digitValidate($event, 3)"
              (paste)="pasteCode($event)"
              (keydown)="handleBackspace($event, 3)"
              maxlength="1"
              [(ngModel)]="code[2]"
            />
            <input
              type="text"
              class="otp"
              id="otp4"
              style="margin-left: 5px !important"
              (input)="digitValidate($event, 4)"
              (paste)="pasteCode($event)"
              (keydown)="handleBackspace($event, 4)"
              maxlength="1"
              [(ngModel)]="code[3]"
            />
            <input
              type="text"
              class="otp"
              id="otp5"
              style="margin-left: 5px !important"
              (input)="digitValidate($event, 5)"
              (paste)="pasteCode($event)"
              (keydown)="handleBackspace($event, 5)"
              maxlength="1"
              [(ngModel)]="code[4]"
            />
            <input
              type="text"
              class="otp"
              id="otp6"
              style="margin-left: 5px !important"
              (input)="digitValidate($event, 6)"
              (paste)="pasteCode($event)"
              (keydown)="handleBackspace($event, 6)"
              maxlength="1"
              [(ngModel)]="code[5]"
            />
          </div>
          <hr class="my-4" />
          <button
            type="submit"
            class="btn btn-success text-white rounded-5 btn-block w-50 d-flex align-items-center justify-content-center m-auto mb-4 customBtn"
          >
            Verifier
          </button>
        </form>
        <hr />
        <a
          (click)="resendMail()"
          style="cursor: pointer"
          class="text-primary mb-3"
        >
          Code non Reçu ?
        </a>
      </div>
    </div>
  </div>

  <div class="card-body p-5" *ngIf="isVerify">
    <div class="input-info-box mt-30">
      <h6 class="my-3">
        Veuillez choisir un nouveau mot de passe sécurisé comportant au moins 8
        caractères !
      </h6>

      <hr />
      <form [formGroup]="passwordForm" (ngSubmit)="changePass()">
        <div class="content">
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="my-input-box">
                <p-password
                  promptLabel="Très Faible"
                  placeholder="Nouveau mot de passe"
                  class="pass"
                  weakLabel="Faible"
                  mediumLabel="Moyen"
                  strongLabel="Fort"
                  formControlName="newPassword"
                  [toggleMask]="true"
                ></p-password>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="my-input-box">
                <p-password
                  promptLabel="Très Faible"
                  placeholder="Confirmer le mot de passe"
                  weakLabel="Faible"
                  mediumLabel="Moyen"
                  strongLabel="Fort"
                  class="pass"
                  formControlName="confirmPassword"
                  [toggleMask]="true"
                ></p-password>
              </div>
            </div>
          </div>
        </div>
        <div
          class="buttons mt-30"
          style="font-size: 12px; display: flex; justify-content: center"
        >
          <button
            type="submit"
            class="custom-buttonn"
            style="background-color: rgb(242 40 118); color: #fff"
          >
            Sauvegarder
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
