.ackiss {
  padding: 40px 0px 40px !important;
  margin: 0 12px;
}

.custom-button-ackiss {
  z-index: 999999;
  position: relative;
  color: rgb(242, 40, 118);
  -webkit-box-shadow: 0.872px 9.962px 20px 0px rgba(12, 78, 165, 0.3);
  box-shadow: 0.872px 9.962px 20px 0px rgba(12, 78, 165, 0.3);
  padding: 11px 35px;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 50px;
  display: inline-block;
  border: 0px;
  width: auto;
  height: auto;
  cursor: pointer;
}
