<div class="container" style="">
  <h1 style="margin-top: 4cm" class="d-flex justify-content-center">
    <b class="hero-mobile-greeting color text-uppercase">
      Conditions générales d'utilisation
    </b>
  </h1>
  <div class="row" style="margin-top: 2cm">
    <div
      class="col-lg-12 align-self-center font-p mb-5"
      style="text-align: justify"
    >
      <ol class="mx-2">
        <li
          class="text-danger my-4"
          style="font-size: larger; letter-spacing: 6px"
        >
          <strong class="text-uppercase">Votre compte</strong>
        </li>
        <p>
          En vous inscrivant sur ce site, vous déclarez avoir 18 ans ou plus.
          <b>SHOKII</b>&nbsp;se réserve le droit d'expulser un utilisateur s'il
          est soupçonné de ne pas avoir l'âge minimum requis.
        </p>
        <p>
          Un seul compte par personne est permis. Tout membre possédant
          plusieurs comptes pourrait se voir supprimer tous ses comptes sans
          aucun préavis.
        </p>
        <p>
          Vous vous engagez à ne pas inscrire de fausses informations dans votre
          compte.
        </p>
        <p>
          Il est interdit de partager son compte avec une ou plusieurs
          personnes.
        </p>

        <li
          class="text-danger my-4"
          style="font-size: larger; letter-spacing: 6px"
        >
          <strong class="text-uppercase">Votre profil</strong>
        </li>
        <p>
          Votre profil a pour but de vous aider à faire des rencontres, trouver
          des partenaires, lier de nouvelles amitiés, partager des passions et
          discuter en ligne. Tout ce qui n'est pas dans ce cadre pourrait être
          refusé et entraîner la suppression du profil.
        </p>
        <p>En créant votre profil, vous êtes en accord avec ce qui suit :</p>
        <ul>
          <li>
            Vous vous engagez à ne pas inscrire de fausses informations dans
            votre profil.
          </li>
          <li>
            Vous vous engagez à ne pas publier une description à caractère
            discriminatoire et des messages obscènes.
          </li>
          <li>
            Vous vous engagez à ne pas publier une description provocatrice ou
            ayant pour but de déclencher une polémique.
          </li>
          <li>
            Vous vous engagez à ne pas publier une description à caractère
            commercial qui a pour but de vendre un produit, recruter des clients
            ou partenaires pour affaires.
          </li>
          <li>
            Vous vous engagez à ne pas publier de liens vers des sites externes.
          </li>
          <li>
            Vous vous engagez à créer un profil de votre sexe et non du sexe
            opposé. Par exemple, si vous êtes un homme, vous vous engagez à ne
            pas vous faire passer pour une femme.
            <a href="shokii.com">shokii.com</a>&nbsp;se réserve le droit
            d'éditer ou d'effacer, sans préavis, tout profil qui semble non
            approprié.
          </li>
        </ul>

        <li
          class="text-danger my-4"
          style="font-size: larger; letter-spacing: 6px"
        >
          <strong class="text-uppercase">Informations personnelles</strong>
        </li>
        <p>
          Vous consentez à la collecte, au transfert, au stockage et à
          l’utilisation de vos informations personnelles par Shokii. Vous
          consentez également à recevoir des communications d'ordre promotionnel
          de la part de Shokii.
        </p>

        <li
          class="text-danger my-4"
          style="font-size: larger; letter-spacing: 6px"
        >
          <strong class="text-uppercase">Vos photos</strong>
        </li>
        <p>
          En publiant une photo sur le site Shokii, vous êtes en accord avec ce
          qui suit :
        </p>
        <ul>
          <li>
            Vous vous engagez à publier des vraies photos personnelles de vous
            et non celles d'un autre individu.
          </li>
          <li>
            Vous vous engagez également à apparaître clairement et être
            reconnaissable sur vos photos.
          </li>
          <li>
            Vous vous engagez à ne pas publier des photos pour lesquelles vous
            n'avez pas les droits d'auteur ou d'utilisation. Par exemple : des
            dessins animés, des célébrités, des photos tirées d'un magazine ou
            d'un site web.
          </li>
          <li>
            Vous vous engagez à ne pas publier de photos montrant de la nudité
            ou quoi que ce soit d'obscène ou non approprié.
          </li>
          <li>
            Vous vous engagez à ne pas publier de photos affichant l'adresse
            d'un autre site web, un email, le nom d'une société, un numéro de
            téléphone, adresse ou autre information personnelle.
          </li>
          <li>
            Vous vous engagez à ne pas publier de photos affichant des armes ou
            quoi que soit relié à la violence. De plus, <b>SHOKII</b>&nbsp;se
            réserve le droit d'effacer, sans préavis, toute photo qui semble non
            appropriée.
          </li>
        </ul>

        <li
          class="text-danger my-4"
          style="font-size: larger; letter-spacing: 6px"
        >
          <strong class="text-uppercase">Règles de conduite</strong>
        </li>
        <ul>
          <li>
            Vous vous engagez à ne pas communiquer les informations qui vous
            sont communiquées par les autres membres à moins qu'ils vous en
            consentent le droit.
          </li>
          <li>
            Vous vous engagez à ne pas communiquer d'informations diffamatoires
            ou qui peuvent d'une manière ou d'une autre porter atteinte à la
            réputation d'un individu.
          </li>
          <li>
            Vous vous engagez à avoir une seule et unique identité sur le site.
          </li>
          <li>
            Vous vous engagez à avoir et utiliser un seul et unique pseudonyme.
          </li>
          <li>
            Vous vous engagez à ne pas vous faire passer pour une personne du
            sexe opposé. Par exemple, si vous êtes un homme, vous vous engagez à
            ne pas vous faire passer pour une femme.
          </li>
          <li>
            Vous vous engagez à ne pas être grossier, tenir des propos racistes
            ou discriminatoires, harceler les autres membres, les menacer, vous
            moquer d'eux ou les insulter.
          </li>
          <li>
            Vous vous engagez à ne pas solliciter les autres membres pour une
            quelconque raison commerciale. Que ce soit pour vendre un produit,
            recruter des clients ou partenaires pour affaires.
          </li>
          <li>
            Vous vous engagez à ne pas solliciter des membres afin de les
            envoyer vers un site externe, quel qu'il soit.
          </li>
          <li>
            Vous vous engagez à ne pas publier d'informations dont vous savez
            qu’elles sont fausses ou trompeuses ou présentant des activités
            illégales.
          </li>
          <li>
            Vous vous engagez à ne pas tenter d’usurper l’identité d’un autre
            utilisateur ou personne.
          </li>
          <li>
            Vous vous engagez à ne pas publier de contenu favorisant ou
            encourageant toute activité ou entreprise criminelle ou fournissant
            des instructions à propos d’activités illégales, y compris,
            notamment, la fabrication ou l’achat d’armes illégales, la violation
            de la vie privée de quiconque et la diffusion ou la création de
            virus informatiques.
          </li>
          <li>
            Vous vous engagez à ne pas publier de contenu impliquant la
            transmission de pourriels, de chaînes d’e-mails, de mailings massifs
            non sollicités, de messages instantanés, de messages publicitaires
            non souhaités ou de courriers non sollicités.
          </li>
          <li>
            Vous vous engagez à ne pas publier de contenu comportant des scènes
            de nudité.
          </li>
          <li>
            Vous vous engagez à ne pas publier de contenu exploitant des
            personnes de manière violente ou sexuelle.
          </li>
        </ul>

        <li
          class="text-danger my-4"
          style="font-size: larger; letter-spacing: 6px"
        >
          <strong class="text-uppercase">Responsabilité des membres</strong>
        </li>
        <p>
          Les membres et visiteurs de ce site sont responsables des messages
          qu'ils envoient, du contenu de leur profil, des photos qu'ils publient
          ou de toute autre information qu'ils décident de transmettre à partir
          du site ou en dehors du site.
        </p>
        <p>
          Les membres sont également responsables de dénoncer et de modérer tout
          agissement qui n'est pas conforme aux termes et conditions de ce site.
        </p>
        <p>
          <b>SHOKII</b>&nbsp;ne sera en aucun cas tenu responsable des messages,
          photos ou agissements des membres et visiteurs sur le site et en
          dehors du site. En conséquence, vous renoncez à réclamer quoi que ce
          soit de la part du site <a href="shokii.com">shokii.com</a>&nbsp;et de
          ses administrateurs.
        </p>

        <li
          class="text-danger my-4"
          style="font-size: larger; letter-spacing: 6px"
        >
          <strong class="text-uppercase">Garantie</strong>
        </li>
        <p>
          <b>SHOKII</b>&nbsp;n'offre aucune garantie quant au service qu'il
          offre.
        </p>
        <p>
          <b>SHOKII</b>&nbsp;ne garantit pas que le site va être fonctionnel ou
          accessible en tout temps.
        </p>
        <p>
          <b>SHOKII</b>&nbsp;ne garantit pas que ce service sera toujours
          fonctionnel, qu'il ne comportera pas de bogue, qu'il n'y aura pas de
          panne de courant, panne de serveur, défaillance de réseau,
          ralentissement, problème de messagerie, problème sur le blog ou autre.
        </p>
        <p>
          <a href="shokii.com">shokii.com</a>&nbsp;ne sera pas tenu responsable
          si le site devient hors d'usage, si des données sont perdues, si des
          messages privés ou sur le forum sont perdus, ou si un membre quitte le
          site ou est supprimé pour une quelconque raison.
        </p>
        <p>
          <a href="shokii.com">shokii.com</a>&nbsp;ne garantit pas que ce site
          va permettre à qui que ce soit de rencontrer quelqu'un, de trouver
          l'amour ou de développer une amitié.
        </p>
        <p>
          <a href="shokii.com">shokii.com</a>&nbsp;ne peut pas garantir que les
          messages envoyés aux modérateurs ou administrateurs seront répondus.
        </p>
        <p>
          <a href="shokii.com">shokii.com</a>&nbsp;ne peut pas garantir que les
          termes et conditions de ce site seront respectées par tous les
          utilisateurs ou visiteurs.
        </p>

        <li
          class="text-danger my-4"
          style="font-size: larger; letter-spacing: 6px"
        >
          <strong class="text-uppercase">Suppression de compte</strong>
        </li>
        <p>
          <b>SHOKII</b>&nbsp;est un site gratuit, l'utilisation du site n'est
          pas un droit, mais bien un privilège. Le non-respect de l'une ou
          l'autre des règles pourrait entraîner la suppression définitive de
          votre compte.
        </p>
        <p>
          <b>SHOKII</b>&nbsp;se réserve le droit de supprimer un compte pour
          toute autre raison non mentionnée dans ces termes et conditions et se
          réserve également le droit de supprimer un compte sans aucun préavis,
          ni aucune justification.
        </p>
        <p>
          <a href="shokii.com">shokii.com</a>&nbsp;se réserve le droit d'ignorer
          toute demande de réactivation de compte. Tout usager qui protestera
          contre la suppression d'un membre pourrait également voir son compte
          être supprimé du site. Que vous soyez supprimé ou non, vous affirmez
          être en accord avec le fait que vous ne pourrez pas récupérer vos
          messages privés.
        </p>
        <p>
          <a href="shokii.com">shokii.com</a>&nbsp; se réserve le droit, à sa
          discrétion, de supprimer ou non les messages d'un usager qui a été
          supprimé ou non.
        </p>

        <li
          class="text-danger my-4"
          style="font-size: larger; letter-spacing: 6px"
        >
          <strong class="text-uppercase">Modération</strong>
        </li>
        <p>
          En utilisant ou visitant <a href="shokii.com">shokii.com</a>&nbsp;,
          vous affirmez être conscient que c'est dans la nature même d'internet
          de permettre aux internautes de publier leurs messages, leurs sites,
          photos ou autre contenu instantanément. Considérant le fait qu'il y a
          des milliers de messages et de photos publiées chaque jour sur le
          site,<a href="shokii.com">shokii.com</a>&nbsp; ne peut pas filtrer et
          contrôler tout le contenu avant qu'il soit publié. En conséquence,<a
            href="shokii.com"
            >shokii.com</a
          >
          &nbsp; ne peut pas garantir que tous les internautes vont respecter
          les termes et conditions du site.
        </p>
        <p>
          Afin de s'assurer que les utilisateurs du site respectent les termes
          et conditions, vous acceptez qu'il est de votre responsabilité de
          modérer le site en utilisant les outils de modération en place. Sous
          chaque photo, profil, et message, il y a un lien "Signaler". Si vous
          réalisez qu'un membre ne respecte pas l'une ou l'autre des règles
          présentes dans les termes et conditions, vous vous engagez à utiliser
          ces liens pour les dénoncer. Après quelques dénonciations, une photo,
          un message ou un usager pourrait être automatiquement supprimé du
          site.
        </p>

        <li
          class="text-danger my-4"
          style="font-size: larger; letter-spacing: 6px"
        >
          <strong class="text-uppercase">Modification</strong>
        </li>
        <p>
          <b>SHOKII</b>&nbsp;peut en tout temps, et ce sans préavis, changer les
          termes et conditions si cela est nécessaire. Dans un tel cas, vous
          serez informés par email ou directement par le site. Après quoi, si
          vous choisissez de continuer d'utiliser nos services, vous êtes
          automatiquement en accord avec les modifications aux termes et
          conditions. Si vous n'êtes pas d'accord avec les modifications, vous
          devez cesser immédiatement d'utiliser et de visiter
          <a href="shokii.com">shokii.com</a>&nbsp;.
        </p>
      </ol>
    </div>
    <div class="my-5 d-flex justify-content-center">
      <a
        routerLink="/"
        style="
          background-image: linear-gradient(166deg, #f44336 0%, #80b1ef 100%);
        "
        class="custom-button"
        >Retour à l'accueil <i class="flaticon-right"></i
      ></a>
    </div>
  </div>
</div>
